body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  background-color: rgba(252, 238, 209, 0.342);
}

.top-heading {
  font-family: "Limelight", cursive;
  font-size: 50px;
  border-left: 4px solid rgb(0, 110, 255);

  padding-left: 10px;
}

.section-heading {
  text-align: center;
  font-weight: 900px;
  font-size: 50px;
}

h1 {
  font-size: 40px;
}

p {
  line-height: 24px;
  font-size: 18px;
}

.image-top-banner {
  width: 85%;
  margin-left: 90px;
}

.flexiable-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.flexiable-container p {
  margin-top: -30px;
}

.half-width {
  width: 50%;
  align-items: center;
  padding: 20px;
}

.sec2-cards {
  width: 33%;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
}

.mission {
  background-color: rgba(0, 89, 255, 0.096);
}

.vision {
  background-color: rgba(255, 0, 212, 0.096);
}

.goal {
  background-color: rgba(172, 68, 241, 0.096);
}

.illustration-img {
  width: 120px;
}

.section-3-4-image {
  width: 40%;
  align-items: center;
  padding: 20px;
}

.padding-sec3n4 {
  padding: 50px;
}

.section-3-4-text {
  width: 60%;
  align-items: center;
  padding: 20px;
}

.bg-img-sec3 {
  background-image: url(./shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: 70px 120px;
}

.bg-img-sec4 {
  background-image: url(./shapes/shape-1.png);
  background-repeat: no-repeat;
  background-size: 13%;
  background-position: 980px 310px;
}

.section-3-4-text h2 {
  font-size: 40px;
  color: rgb(32, 32, 32);
}

.image-section-3n4 {
  width: 90%;
}

.image-bottom-app {
  width: 40%;
  margin-left: 150px;
}

.bg-img-sec5 {
  background-image: url(./shapes/shape-3.png), url(./shapes/shape-3.png),
    url(./shapes/shape-3.png);
  background-position: 250px 90px, 440px 340px, 270px 470px;
  background-repeat: no-repeat;
  background-size: 10%, 7%, 7%;
}

.apphead {
  text-align: left !important;
}

.link-btn {
  padding: 10px 25px;
  background-color: rgb(0, 171, 194);
  text-decoration: none;
  color: white;
  font-weight: 600px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.link-btn:hover {
  background-color: lightseagreen;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
footer h2 {
  font-family: "Limelight", cursive;
  font-style: italic;
}
.purple-color {
  color: rgb(104, 0, 223);
}
